blinker==1.8.2
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==4.4.2
et_xmlfile==2.0.0
exceptiongroup==1.2.2
Flask==3.0.3
Flask-Cors==5.0.0
future==1.0.0
huepy==1.2.1
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==7.1.0
iniconfig==2.0.0
instabot==0.117.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mock==5.1.0
moviepy==1.0.3
numpy==1.24.4
openpyxl==3.1.5
packaging==24.1
pandas==2.0.3
pdfkit==1.0.0
pillow==10.4.0
pluggy==1.5.0
proglog==0.1.10
pydub==0.25.1
PySocks==1.7.1
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
reportlab==4.2.5
requests==2.32.3
requests-toolbelt==1.0.0
responses==0.25.3
schedule==1.2.2
six==1.16.0
SpeechRecognition==3.10.4
svgwrite==1.4.3
tomli==2.0.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.3
zipp==3.19.2
